<div class="col-md-12 col-sm-12 col-xs-12 menu-bar">
  <ul>
    <li>
      <a href="<%= root_path %>">Accueil</a>
    </li>
    <li>
      <a href="<%= acheter_path %>">Acheter</a>
    </li>
    <li>
      <a href="<%= louer_path %>">Louer</a>
    </li>
    <li>
      <a href="<%= location_vaccances_path %>">Locations Vaccances</a>
    </li>
    <li>
      <a href="<%= confier_bien_path %>">Confier votre bien</a>
    </li>
  </ul>
</div>