<div class="row">
  <div class="menu-bar">
  <ul>
    <li>
      <a href="<%= form_add_habitat_path %>">Ajouter un habitat</a>
    </li>
    <li>
      <a href="<%= root_path %>">Acheter</a>
    </li>
    <li>
      <a href="<%= root_path %>">Louer</a>
    </li>
    <li>
      <a href="<%= root_path %>">Locations Vaccances</a>
    </li>
    <li>
      <%= link_to destroy_user_session_path, class: "color-menu", method: :delete do %>
        <%= fa_icon('sign-out', text: 'Se déconnecter') %>
      <% end %>
    </li>
  </ul>
  </div>
</div>
