<!DOCTYPE html>
<html>
  <head>
    <title>Immobilier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/user_portal/header' %>
    <%= render 'shared/user_portal/flash_messages.html' %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
